
------------------update recent --------------------------------------------

<div class="dt-root">
  <!-- Toolbar -->
  <div class="dt-toolbar">
    @if (showColumnRetractable) {
      <div class="left">
        <button mat-button [matMenuTriggerFor]="colsMenu">
          <mat-icon>view_column</mat-icon> Colonnes
        </button>
        <mat-menu #colsMenu="matMenu" xPosition="after">
          @for (c of _columns; track c.nom) {
            <button mat-menu-item (click)="toggleColumn(c)" [disabled]="!c.retractable">
              <mat-icon class="mr-2">
                {{ isHidden(c) ? 'check_box_outline_blank' : 'check_box' }}
              </mat-icon>
              <span>{{ c.label }}</span>
              @if (!c.retractable) {
                <mat-icon class="ml-auto" matTooltip="Non rétractable">lock</mat-icon>
              }
            </button>
          }
        </mat-menu>
      </div>
    }

    @if (searchable) {
      <div class="right">
        <mat-form-field appearance="outline" class="dt-search">
          <mat-label>{{ filterPlaceholder }}</mat-label>
          <input matInput [formControl]="searchCtrl" placeholder="Search..." />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
    }
  </div>

  @if (loading && showTopBarWhileLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 dt-table" matSort>

    @if (selectable) {
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="col-select" [class.sticky]="stickyHeader">
          <mat-checkbox
            (change)="masterToggle()"
            [checked]="isAllSelected()"
            [indeterminate]="selectedRows?.length && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="col-select">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="toggleRow(row)"
            [checked]="isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    }

    <!-- Colonnes dynamiques -->
    @for (col of visibleColumnDefs; track col.nom) {
      <ng-container [matColumnDef]="col.nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [disabled]="!(enableOrder && col.enableOrder)"
            [class.sticky]="stickyHeader">
          {{ col.label }}
        </th>

        @switch (col.type) {
          @case (TableDataType.STRING) {
            <td mat-cell *matCellDef="let row"
                class="data-table-colonne-{{ col.nom }}"
                [class.cell-clickable]="col.clickable"
                (click)="col.clickable && onCellClick($event, row, col)">
              {{ row[col.nom] }}
            </td>
          }
          @case (TableDataType.NUMBER)   { <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">{{ row[col.nom] }}</td> }
          @case (TableDataType.BOOLEAN)  { <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">{{ row[col.nom] }}</td> }
          @case (TableDataType.DATE)     { <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">{{ row[col.nom] | date:'dd/MM/yyyy' }}</td> }
          @case (TableDataType.TIME)     { <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">{{ row[col.nom] | date:'HH:mm:ss' }}</td> }
          @case (TableDataType.DATETIME) { <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">{{ row[col.nom] | date:'dd/MM/yyyy HH:mm:ss' }}</td> }
          @case (TableDataType.JSON)     { <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">{{ row[col.nom] | json }}</td> }
          @case (TableDataType.OBJECT)   { <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">{{ row[col.nom] }}</td> }
          @case (TableDataType.LINK) {
            <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">
              <a [routerLink]="[col.link, row[col.nom]]" (click)="$event.stopPropagation()">
                {{ row[col.nom] }}
              </a>
            </td>
          }
          @default {
            <td mat-cell *matCellDef="let row" class="data-table-colonne-{{ col.nom }}">{{ row[col.nom] }}</td>
          }
        }
      </ng-container>
    }

    <!-- Colonne ACTIONS -->
    @if (showActionsColumn) {
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef [class.sticky]="stickyHeader">
          {{ actionsHeaderLabel || '' }}
        </th>

        <td mat-cell *matCellDef="let row; let i = index" class="col-actions">
          @if (actionsTpl) {
            <ng-container [ngTemplateOutlet]="actionsTpl"
                          [ngTemplateOutletContext]="{ $implicit: row, index: i }">
            </ng-container>
          } @else {
            @for (a of actions; track a.id) {
              @if (!a.show || a.show(row, i)) {
                <button mat-raised-button class="mr-2"
                        [color]="isMatPalette(a.color) ? a.color : null"
                        [ngStyle]="!isMatPalette(a.color) && a.color ? {'background': a.color, 'color':'#fff'} : null"
                        [disabled]="a.disabled?.(row, i)"
                        [matTooltip]="a.tooltip || a.label || ''"
                        (click)="onAction(a,row,i,$event)">
                  @if (a.icon) { <mat-icon class="mr-1">{{ a.icon }}</mat-icon> }
                  @if (a.label) { <span>{{ a.label }}</span> }
                </button>
              }
            }
          }
        </td>
      </ng-container>
    }

    <!-- Header optionnel -->
    @if (showHeader) {
      <tr mat-header-row [matHeaderRowDef]="displayedColumns"></tr>
    }

    <!-- Rows -->
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="clickable-row"
      (click)="selectable && toggleRow(row)"
      [class.row-selected]="isSelected(row) && highlightSelection"
      [ngStyle]="(isSelected(row) && highlightSelection)
                   ? {'--sel-bg': highlightColor, '--sel-bar': highlightBarColor}
                   : null">
    </tr>

    @if ((serverSide ? total : autoLength) === 0) {
      <tr class="mat-row">
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">Aucune donnée</td>
      </tr>
    }
  </table>

  @if (loading) {
    <div class="dt-loading">
      <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
      @if (loadingText) { <div class="loading-text">{{ loadingText }}</div> }
    </div>
  }

  <mat-paginator
    [length]="serverSide ? total : autoLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons>
  </mat-paginator>
</div>


--------------------------------------------

<lib-data-table
  [data]="rows"
  [columns]="columns"
  [(selectedRows)]="selectedRows"

  [showColumnRetractable]="true"
  [showHeader]="true"

  [searchable]="true" [filterKeys]="['client','amount']"
  [enableOrder]="true"
  [pageSize]="10" [pageSizeOptions]="[5,10,25,50]"

  [highlightSelection]="highlightOn"
  [highlightColor]="colorBg"
  [highlightBarColor]="colorBar"

  [showActionsColumn]="true"
  [actionsHeaderLabel]="' '"
  [actions]="rowActions"
  (action)="onRowAction($event)"
  (cellClick)="onCellClick($event)">
</lib-data-table>

  <lib-data-table
  [data]="rows"
  [columns]="columns"
  [(selectedRows)]="selectedRows"

  [showHeader]="true"                     <!-- mettre false pour cacher -->
  [showActionsColumn]="true"
  [actionsHeaderLabel]="' '"              <!-- vide = pas de titre -->
  [actions]="rowActions"
  (action)="onRowAction($event)"          <!-- {actionId,row,index} -->

  [searchable]="true" [filterKeys]="['client','amount']"
  [enableOrder]="true"
  [pageSize]="10" [pageSizeOptions]="[5,10,25,50]"

  [highlightSelection]="highlightOn"
  [highlightColor]="colorBg"
  [highlightBarColor]="colorBar"

  (cellClick)="onCellClick($event)">
</lib-data-table>

<lib-data-table
  [data]="rows"
  [columns]="columns"
  [(selectedRows)]="selectedRows"
  [showHeader]="false"
  [showActionsColumn]="true">

  <ng-template #rowActions let-row let-i="index">
    <button mat-stroked-button color="primary"
            (click)="$event.stopPropagation(); editRow(row)">Edit</button>
    <button mat-icon-button color="warn" matTooltip="Supprimer"
            (click)="$event.stopPropagation(); removeRow(row)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</lib-data-table>

rowActions = [
  { id: 'persist', label: 'Persist', icon: 'save', color: 'primary', tooltip: 'Enregistrer' },
  { id: 'delete',  label: 'Delete',  icon: 'delete', color: 'warn',    tooltip: 'Supprimer' }
];

onRowAction(e: {actionId: string; row: any; index: number}) {
  if (e.actionId === 'persist') { /* … */ }
  if (e.actionId === 'delete')  { /* … */ }
}
onCellClick(e: {row:any; column: ITableColonne}) {
  // traitement cellule cliquée
}


