@use '@angular/material' as mat;
@use 'sass:color';

$brand: #008c53;

$my-green: (
  50:  color.mix($brand, white, 90%),
  100: color.mix($brand, white, 80%),
  200: color.mix($brand, white, 70%),
  300: color.mix($brand, white, 55%),
  400: color.mix($brand, white, 40%),
  500: $brand,
  600: $brand,
  700: #00663d,
  800: color.mix($brand, black, 20%),
  900: color.mix($brand, black, 30%),

  // >>> Teintes “accent” requises si tu utilises A*
  A100: color.mix($brand, white, 85%),
  A200: color.mix($brand, white, 70%),
  A400: color.mix($brand, white, 30%),
  A700: color.mix($brand, black, 25%),

  contrast: (
    50:  #1f2937, 100: #1f2937, 200: #1f2937, 300: white, 400: white,
    500: white, 600: white, 700: white, 800: white, 900: white,
    A100: #1f2937, A200: #1f2937, A400: white, A700: white
  )
);

$green-primary: mat.m2-define-palette($my-green, 500, 600, 700);
$green-accent:  mat.m2-define-palette($my-green, A200, A100, A400); // <- maintenant OK
$green-warn:    mat.m2-define-palette(mat.$red-palette);

$theme: mat.define-theme((
  color: (theme-type: light, primary: $green-primary, secondary: $green-accent, error: $green-warn),
));

@include mat.core();
@include mat.all-component-themes($theme);
