@use '@angular/material' as mat;

$my-green: (
  500: #008c53,
  600: #008c53,
  700: #00663d,
  contrast: (
    500: white,
    600: white,
    700: white,
  )
);

$green-primary: mat.define-palette($my-green, 500, 600, 700);
$green-accent:  mat.define-palette(mat.$green-palette, A200, A100, A400);
$green-warn:    mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $green-primary,
    accent:  $green-accent,
    warn:    $green-warn,
  )
));

@include mat.core();
@include mat.all-component-themes($custom-theme);