@use '@angular/material' as mat;

$my-green: (
  50:  #e5f3ec,
  100: #bfe1d1,
  200: #99cfb5,
  300: #73bd9a,
  400: #4daa7f,
  500: #008c53,
  600: #008c53,
  700: #00663d,
  800: #004f30,
  900: #003e26,
  contrast: (
    50:  #1f2937,
    100: #1f2937,
    200: #1f2937,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

// Palettes M2 (NUMÉRIQUES UNIQUEMENT)
$green-primary: mat.m2-define-palette($my-green, 500, 600, 700);
$green-accent:  mat.m2-define-palette($my-green, 400, 200, 700);
$green-warn:    mat.m2-define-palette(mat.$red-palette);

// Thème M3
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary:  $green-primary,
    secondary: $green-accent,
    error:     $green-warn,
  ),
));

@include mat.core();
@include mat.all-component-themes($theme);
